 {% load static %}
/* Website template by freewebsitetemplates.com */
body {
	background-color: #e2e2e2;
	min-width: 960px;
	margin: 0;
}
img {
	display: block;
	border: 0;
}
/** box-shadow **/
.box {
	background-color: #e7e7e7; /* Needed for IE */
	display: inline-block;
	-moz-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	-webkit-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShdow=true, ShadowOpacity=0.80);
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.box > img {
	display: block;
	position: relative; /* This protects the inner element from being blurred */
}
.clearfix {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	clear:both;
	content:"";
	display:block;
	line-height:0;
	height:1%;
	visibility:hidden;
}
/*------------ Sprites ------------*/
.more, .subscribe, input[type='submit'] {
	background: url("images/interface.png") no-repeat;
}
.frame1, .frame2, .frame3, .frame4, .frame5, .news > li {
	background: url("images/frames.png") no-repeat;
}
.more, .subscribe, input[type='submit'] {
	background-position: -107px 0;
	color: #fff;
	display: inline-block;
	font: 12px/28px Arial, Helvetica, sans-serif;
	height: 28px;
	width: 97px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}
.more:hover {
	background-position: 0 0;
}
.subscribe, input[type='submit'] {
	background-position: -222px -38px;
	height: 38px;
	line-height: 38px;
	width: 212px;
}
.subscribe:hover, input[type='submit']:hover {
	background-position: 0 -38px;
}
.home, .phone, .mail, .fax {
	background-position: 0 1px;
	padding-left: 24px;
}
.phone {
	background-position: 0 -26px;
}
.fax {
	background-position: 0 -54px;
}
.mail {
	background-position: 0 -82px;
}
.frame1 {
	background-position: -117px 0;
	height: 150px;
	width: 203px;
	margin: 0 auto 6px;
	padding: 8px 7px 0;
	text-align: center;
}
.frame2 {
	background: #e2e2e2;
	width: 924px;
	padding: 6px 7px 0;
	text-align: center;
}
.frame3 {
	background-position: -344px 0;
	height: 221px;
	width: 586px;
	margin: 0 auto 6px;
	padding: 7px 7px 0;
	text-align: center;
}
.frame4 {
	background-position: 0 0;
	height: 108px;
	width: 93px;
	padding: 7px 7px 0;
	text-align: center;
}
.frame5 {
	background-position: -610px -238px;
	height: 220px;
	width: 268px;
	padding: 7px 6px 0;
	text-align: center;
}
/*------------ HEADER ------------*/
#header {
	background: #8B0404;
	padding: 16px 0 16px;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
}
/** navigation **/
.navigation {
	float: right;
	list-style: none;
	margin: 36px 0 0;
	padding: 0;
}
.navigation li {
	float: left;
	margin-left: 30px;
	position: relative;
}
.navigation li > a {
	color: #ACAAAA;
	font-family:"나눔스퀘어";
	font-size: 20px;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
	
}
.navigation li.active > a, .navigation li > a:hover {
	color: #fff;
}
/*------------ CONTENTS ------------*/
#contents {
	padding-bottom: 24px;
	
}
#contents > div.clearfix:first-child {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 10px 0;
}
#contents img {
	border: 1px solid rgba(231, 231, 231, 0.8);
}
h1 {
	color: #111;
	font-family:"나눔스퀘어";
	font-size: 30px;
	margin: 20px 0 12px;
	text-transform: uppercase;
}
h2 {
	font: 24px/36px "나눔스퀘어", Times, serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
p {
	color: #111111;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 24px;
}
p a {
	color: #626262;
}
p a:hover {
	color: #333333;
}
/** 그래프 **/
/** 여기가 인구수 그래프 **/
.graph ul {
	list-style: none;
	padding: 0;
}
.graph .pop_graph {
	float:left;
	border-bottom: 1px solid #fff;
	padding: 30px 0;
	width: 100%;
}
.graph .pop_graph > h2 {
	text-align: center;
	color: #111;
	width: 1200px;
	margin: 0 auto 24px;
	padding: 0 10px;
}
/** 여기가 취업률 그래프 **/
.graph .work_graph {
	float:left;
	border-bottom: 1px solid #fff;
	padding: 30px 0;
	width: 100%;
}
.graph .work_graph > h2 {
	text-align: center;
	color: #111;
	width: 1200px;
	margin: 0 auto 24px;
	padding: 0 10px;
}
/** 여기가 후원 링크 **/
.support {
	padding: 30px 0;
}
.support > h2 {
	text-align: center;
	color: #111;
	width: 1200px;
	margin: 0 auto 24px;
	padding: 0 10px;
}
.support ul {
	list-style: none;
	padding: 0;
}
.support li {
	float: left;
	width: 280px;
	margin: 0 10px;
}
.support li p {
	padding-left: 4px;
}
.support li p b {
	display: block;
	text-transform: uppercase;
}
.support li .more {
	margin-left: 4px;
}
.main {
	float: left;
	min-height: 960px;
	width: 600px;
	padding: 0 0 0 32px;
}
.main h1 {
	margin-bottom: 18px;
}
.main h2 {
	margin-bottom: 12px;
}
.main h1 + h2 {
	margin: 0;
}
.main h1 + div.frame3 {
	margin-top: 36px;
}
.main > .section {
	background-position: left bottom;
	background-repeat: repeat-x;
	width: 600px;
	margin-bottom: 16px;
	margin-left: -28px;
	padding-left: 30px;
}
.main > .last-child, .sidebar ul li.last-child {
	background: none;
}
.main > .section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main > .section ul li {
	display: inline-block;
	margin: 0 0 24px;
}
.main > .section ul li .frame4 {
	float: left;
	margin-bottom: 1px;
	margin-right: 20px;
}
.main > .section ul li p {
	margin: 6px 0 0;
}
.main > .section ul li p b {
	display: block;
	text-transform: uppercase;
}

.news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news > li {
	background-position: 0 -238px;
	display: inline-block;
	height: 269px;
	width: 578px;
	margin-bottom: 12px;
	padding: 6px 22px 0 6px;
}
.news > li .box {
	float: left;
	margin-right: 20px;
}
.news > li p.info, .details p.info {
	font-size: 11px;
	margin: 0;
	padding-top: 24px;
}
.author {
	color: #755c02;
}
.news > li h2, .details h2 {
	color: #728063;
	letter-spacing: 0;
	margin-bottom: 24px;
}
.news > li .more {
	float: right;
}
.images {
	float: left;
	width: 210px;
	margin-right: 20px;
	padding-right: 10px;
}
#contents .images img.box {
	border: 5px solid #fff;
}

/*------------ TABLE ------------*/
table {
	margin: 20px 0 20px;
	border: 1px solid #555;
	border-collapse: collapse;
	font-family: "나눔스퀘어";
	
}
table th {
	background: #777;
	color: #fff;
	border: solid #555;
	padding: 8px 0 8px;

}
table td {
	background: #ccc;
	color: #111;
	border: solid #999;
	padding: 8px 0 8px;
}
table a {
	color: #333;
}

/*------------ FOOTER ------------*/
#footer {
	background: #d9d9d9 url="images/bg-footer.png", repeat-x left top;
	border-top: 2px solid #fff;
}
#footer .section {
	float: left;
	min-height: 146px;
	width: 339px;
	border-left: 1px solid #c2c2c2;
	padding: 30px;
}
#footer .section h4 {
	color: #626262;
	font: bold 12px/24px Arial, Helvetica, sans-serif;
	margin: 0;
	text-transform: uppercase;
}
#footer .section p {
	font-size: 12px;
	margin: 0;
}
#footer .section:first-child {
	border: 0;
}
#footer .contact p span {
	text-transform: uppercase;
}
#footnote {
	background: #8B0404;
	border-top: 1px solid #fff;
	padding: 6px 0 3px;
}
#footnote p {
	color: #b5c1aa;
	font: 11px/30px Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}