{% extends 'base.html' %}
{% block content %}
{% load static %}


<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="/JSG/index/"><img src="{% static 'images/logo.png' %}" alt="LOGO" height="52" width="332"></a>
			</div>
			<ul class="navigation">
				<li>
					<a href="/JSG/index/">메인</a>
				</li>
				<li>
					<a href="/JSG/population/">경북의 인구수</a>
				</li>
				<li>
					<a href="/JSG/work/">경북의 취업률</a>
				</li>
				<li class="active">
					<a href="/JSG/corona/">코로나19</a>
				</li>
				<li>
					<a href="/JSG/news/">코로나 뉴스 & 이슈</a>
				</li>
			</ul>
		</div>
	</div>
		<div id="contents">
		<div class="clearfix">
			<h1>코로나 그래프</h1>
			<div class="frame2">
				<table border = "1" align="center" width="800">
				<tr>
					
					{% for th in THead %}
					
					{% autoescape off %}
					<th>{{th}}</th>
				{% endautoescape %}
					
				{% endfor %}
				</tr>

				<tr>
				{% for tb in TBody %}
				{% autoescape off %}
				<td>{{tb}}</td>
				{% endautoescape %}
			<!-- 여기 그래프 넣어쥬ㅜ세요 -->
			{% endfor %}
		</tr>

		<tr>
			{% for tb2 in TBody2 %}
			{% autoescape off %}
			<td>{{tb2}}</td>
			{% endautoescape %}
		<!-- 여기 그래프 넣어쥬ㅜ세요 -->
		{% endfor %}
	</tr>

		</table>


		<table border = "1" align="center" width="800" >
			{% for th in THead_2 %}
					
			{% autoescape off %}
			<th>{{th}}</th>
		{% endautoescape %}
			
		{% endfor %}
		</tr>

			<tr>
			{% for tb in TBody_2 %}
			{% autoescape off %}
			<td>{{tb}}</td>
			{% endautoescape %}
		<!-- 여기 그래프 넣어쥬ㅜ세요 -->
			{% endfor %}
			</tr>

			<tr>
				{% for tb2 in TBody2_2 %}
				{% autoescape off %}
				<td>{{tb2}}</td>
				{% endautoescape %}
			<!-- 여기 그래프 넣어쥬ㅜ세요 -->
			{% endfor %}
			</tr>
		</table>
		<img src="http://www.gb.go.kr/Main/data/corona/corona_gb_new.png"/>
		<table border="1" align="center" width="800">
			<tr>
				<th rowspan="2">구분</th>
				<th colspan = "4">확진환자현황</th>
				<th colspan = "3">검사현황</th>
				<th colspan= "3">접촉자</th>
			</tr>
			<tr>
				<td>계</td>
				<td>격리중</td>
				<td>해제</td>
				<td>사망</td>
				<td>계</td>
				<td>검사중</td>
				<td>음성</td>
				<td>계</td>
				<td>격리중</td>
				<td>음성</td>
			</tr>
			<tr>
				{% autoescape off %}
				{% for tb3 in TBody3 %}

				<td>{{tb3}}</td>

				{% endfor %}
				{% endautoescape %}
			</tr>
			<tr>
				{% autoescape off %}
				{% for tb3_2 in TBody3_2 %}

				<td>{{tb3_2}}</td>

				{% endfor %}
				{% endautoescape %}
			</tr>

		</table>

		</div>		
	</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>컨텐츠</h4>
				<p>
					알 This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>뭐 넣을지</h4>
				<p>
					<span>겠 Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>정합시다</h4>
				<p>
					지효? If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
			</div>
		</div>
		<div id="footnote">
			<div class="clearfix">
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
{% endblock %}