{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="/JSG/index/"><img src="{% static 'images/logo.jpg' %}" alt="LOGO" height="93" width="248"></a>
			</div>
			<ul class="navigation">
				<li class="active">
					<a href="/JSG/index/">메인</a>
				</li>
				<li>
					<a href="/JSG/population/">경북의 인구수</a>
				</li>
				<li>
					<a href="/JSG/work/">경북의 취업률</a>
				</li>
				<li>
					<a href="/JSG/corona/">코로나19</a>
				</li>
				<li>
					<a href="/JSG/news/">코로나 뉴스 & 이슈</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
    	<div class="graph">
        	<ul class="clearfix">
                <div class="pop_graph">
					<h1>인구수 그래프</h1>
					<iframe width="1200" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f8eaf956-c2df-4429-8830-f528f9106074&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
                <!-- 여기가 인구수 그래프 -->
                </div>
                <div class="work_graph">
					<h1>취업률 그래프</h1>
					<iframe width="1200" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=21525f72-7432-454f-8695-88e2124f551b&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
                <!-- 여기가 취업률 그래프 -->
                </div>
        	</ul>
        </div>
		<div class="support"><!-- 여기가 후원 링크 -->
			<h2>후원 사이트 소개</h2>
			<ul class="clearfix">
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/hope.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>희망브리지</b> 희망브리지 전국재해구호협회는 갑작스런 재난·재해로 힘들어하는 이웃을 돕기 위해 1961년 전국의 방송사와 신문사, 사회단체가 힘을 모아 설립한 순수 민간 구호단체입니다.
						1959년 태풍 ‘사라’ 피해 돕기 모금운동을 계기로 ‘전국수해대책위원회’로 첫걸음을 내딛었습니다.
					</p>
					<a href="https://www.relief.or.kr/hope/intro.php" class="more">사이트 이동</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/korea.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>대한적십자사</b> 재난관리책임기관이자 긴급구조지원기관인 대한적십자사는 재난이 발생하면 가장 먼저 달려가 회복 할 수 있는 에너지를 전합니다. 지진, 홍수, 화재, 감염병 등 예기치 못한 재난으로 일상을 잃어버린 이웃에게 구호물품 전달과 심리회복지원활동을 펼치며, 재난에 취약한 가정을 지원합니다.
					</p>
					<a href="https://www.redcross.or.kr/donation_participation_v2/donation_participation_dndn.do?routecode=" class="more">사이트 이동</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/asia.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>ASIA PACIFIC ALLIANCE KOREA</b> 아시아·태평양 지역의 국가들은 재난으로 인해 많은 피해를 당했습니다. 재난 현장 피해를 최소화하고, 빠른 복구를 위해 정부·지방자치단체 뿐만 아니라 기업·NGO·언론 등이 언제든 협력 가능한 재난 대응 플랫폼을 구축하는 것이 우리 과제입니다. 아시아퍼시픽얼라이언스(이하 에이팟_A-PAD)는, 아시아·태평양 내 국가들이 협력하여 재난 현장 긴급 구호·복구·방재·재난 이후 지역재생 등을 주로 다루는 아시아 대표적 국제기구입니다.
					</p>
					<a href="https://apadmkorea.org:442/app/page/index?md_id=about" class="more">사이트 이동</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/good.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>굿네이버스</b> 자연재난 등 긴급구호 상황 발생 시 구호물품을 지원하고 국내 사업장의 빈곤가정아동과 협력시설 아동을 대상으로 의류, 문구, 생활용품, 식품 등의 물품을 지원합니다.
					</p>
					<a href="https://www.goodneighbors.kr/business/korea_welfare/community.gn" class="more">사이트 이동</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>컨텐츠</h4>
				<p>
					알 This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>뭐 넣을지</h4>
				<p>
					<span>겠 Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>정합시다</h4>
				<p>
					지효? If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
			</div>
		</div>
		<div id="footnote">
			<div class="clearfix">
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
{% endblock %}