{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="/JSG/index/"><img src="{% static 'images/logo.png' %}" alt="LOGO" height="52" width="332"></a>
			</div>
			<ul class="navigation">
				<li class="active">
					<a href="/JSG/index/">메인</a>
				</li>
				<li>
					<a href="/JSG/population/">경북의 인구수</a>
				</li>
				<li>
					<a href="/JSG/work/">경북의 취업률</a>
				</li>
				<li>
					<a href="/JSG/corona/">코로나19</a>
				</li>
				<li>
					<a href="/JSG/news/">코로나 뉴스 & 이슈</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
    	<div class="graph">
        	<ul class="clearfix">
                <div class="pop_graph">
					<h2>인구수 그래프</h2>
					<iframe width="500" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f8eaf956-c2df-4429-8830-f528f9106074&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
                <!-- 여기가 인구수 그래프 -->
                </div>
                <div class="work_graph">
					<h2>취업률 그래프</h2>
					<iframe width="500" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=21525f72-7432-454f-8695-88e2124f551b&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
                <!-- 여기가 취업률 그래프 -->
                </div>
        	</ul>
        </div>
		<div class="support"><!-- 여기가 후원 링크 -->
			<h2>후원 앙망합니다</h2>
			<ul class="clearfix">
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/meeting.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>돈내놔</b> 알겠지
					</p>
					<a href="/JSG/index/" class="more">후원 링크</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/handshake.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>김현기시바</b> 그래도 니가 한규보다 낫다
					</p>
					<a href="/JSG/index/" class="more">후원 링크</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/smile.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>임한규야발</b> 3년내에 뒤지길 바라요
					</p>
					<a href="/JSG/index/" class="more">후원 링크</a>
				</li>
				<li>
					<div class="frame1">
						<div class="box">
							<img src="{% static 'images/family-small.jpg' %}" alt="Img" height="130" width="197">
						</div>
					</div>
					<p>
						<b>돈갖고와</b> 제바류ㅠ
					</p>
					<a href="/JSG/index/" class="more">후원 링크</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>컨텐츠</h4>
				<p>
					알 This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>뭐 넣을지</h4>
				<p>
					<span>겠 Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>정합시다</h4>
				<p>
					지효? If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
			</div>
		</div>
		<div id="footnote">
			<div class="clearfix">
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
{% endblock %}