{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="/JSG/index/"><img src="{% static 'images/logo.jpg' %}" alt="LOGO" height="93" width="248"></a>
			</div>
			<ul class="navigation">
					<li>
						<a href="/JSG/index/">메인</a>
					</li>
					<li class="active">
						<a href="/JSG/population/">경북의 인구수</a>
					</li>
					<li>
						<a href="/JSG/work/">경북의 취업률</a>
					</li>
					<li>
						<a href="/JSG/corona/">코로나19</a>
					</li>
					<li>
						<a href="/JSG/news/">코로나 뉴스 & 이슈</a>
					</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div class="clearfix">
			<h1>인구수 그래프</h1>
			<div class="frame2">
				<iframe width="1200" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6a5f0f5d-bc5d-483e-bc08-2a29ca61fd87&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
			<table width="1200">
				<thead>
				<tr>
					<th rowspan="2">행정구역(시군구)별</th>
					{% autoescape off %}
					{% for th1 in THead1h %}
					<th colspan="3">{{th1}}</th>
					{% endfor %}
					{% endautoescape %}
				<!-- 여기 그래프 넣어쥬ㅜ세요 -->
				</tr>
				<tr>
					<th>총인구수 (명)</th>
					<th>남자인구수 (명)</th>
					<th>여자인구수 (명)</th>

					<th>총인구수 (명)</th>
					<th>남자인구수 (명)</th>
					<th>여자인구수 (명)</th>

					<th>총인구수 (명)</th>
					<th>남자인구수 (명)</th>
					<th>여자인구수 (명)</th>
				</tr>
				</thead>
				<tbody>
					<tr>
					{% autoescape off %}
					{% for tb1 in TBody1h1 %}

					<td>{{tb1}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb2 in TBody1h2 %}

					<td>{{tb2}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb3 in TBody1h3 %}

					<td>{{tb3}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb4 in TBody1h4 %}

					<td>{{tb4}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb5 in TBody1h5 %}

					<td>{{tb5}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb6 in TBody1h6 %}

					<td>{{tb6}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb7 in TBody1h7 %}

					<td>{{tb7}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb8 in TBody1h8 %}

					<td>{{tb8}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb9 in TBody1h9 %}

					<td>{{tb9}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb10 in TBody1h10 %}

					<td>{{tb10}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb11 in TBody1h11 %}

					<td>{{tb11}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb12 in TBody1h12 %}

					<td>{{tb12}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb13 in TBody1h13 %}

					<td>{{tb13}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb14 in TBody1h14 %}

					<td>{{tb14}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb15 in TBody1h15 %}

					<td>{{tb15}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb16 in TBody1h16 %}

					<td>{{tb16}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb17 in TBody1h17 %}

					<td>{{tb17}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb18 in TBody1h18 %}

					<td>{{tb18}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb19 in TBody1h19 %}

					<td>{{tb19}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb20 in TBody1h20 %}

					<td>{{tb20}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb21 in TBody1h21 %}

					<td>{{tb21}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb22 in TBody1h22 %}

					<td>{{tb22}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb23 in TBody1h23 %}

					<td>{{tb23}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb24 in TBody1h24 %}

					<td>{{tb24}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb25 in TBody1h25 %}

					<td>{{tb25}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb26 in TBody1h26 %}
					<td>{{tb26}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>

					<tr>
					{% autoescape off %}
					{% for tb27 in TBody1h27 %}
					<td>{{tb27}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>

					<tr>
					{% autoescape off %}
					{% for tb28 in TBody1h28 %}
					<td>{{tb28}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb29 in TBody1h29 %}
					<td>{{tb29}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb30 in TBody1h30 %}
					<td>{{tb30}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb31 in TBody1h31 %}
					<td>{{tb31}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb32 in TBody1h32 %}
					<td>{{tb32}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb33 in TBody1h33 %}
					<td>{{tb33}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb34 in TBody1h34 %}
					<td>{{tb34}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
					<tr>
					{% autoescape off %}
					{% for tb35 in TBody1h35 %}
					<td>{{tb35}}</td>

					{% endfor %}
					{% endautoescape %}
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>개발자 정보</h4>
				<p>
					강경태 : 20151550 (멀티미디어공학과)<br>
					김종민 : 20151558 (멀티미디어공학과)<br>
					유병욱 : 20151569 (멀티미디어공학과)<br>
					하승호 : 20151584 (멀티미디어공학과)
					
				</p>
			</div>

		</div>
		<div id="footnote">
			<div class="clearfix">
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>

{% endblock %}