{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="/JSG/index/"><img src="{% static 'images/logo.jpg' %}" alt="LOGO" height="93" width="248"></a>
			</div>
			<ul class="navigation">
					<li>
						<a href="/JSG/index/">메인</a>
					</li>
					<li>
						<a href="/JSG/population/">경북의 인구수</a>
					</li>
					<li class="active">
						<a href="/JSG/work/">경북의 취업률</a>
					</li>
					<li>
						<a href="/JSG/corona/">코로나19</a>
					</li>
					<li>
						<a href="/JSG/news/">코로나 뉴스 & 이슈</a>
					</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div class="clearfix">
			<h1>취업률 그래프</h1>
			<div class="frame2">
				<iframe width="1200" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=3ef245b6-28d8-40f8-a70b-67ff3c2f3f95&autoAuth=true&ctid=86840d27-05da-4a0f-9a35-c76e03e8d2bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
			<table width="1200">
				<thead>
					<tr>
						<th>분기</th>
						<th>지역별</th>
						<th>취업자수 (명)</th>
						<th>전년도 동분기 취업자수 증감(%)</th>
						<th>취업률 (%)</th>
						<th>전년도 동분기 취업률 증감 (%p)</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						{% autoescape off %}
						{% for th1 in THead1h1 %}
						<td rowspan="2">{{th1}}</td>
						{% endfor %}
						{% endautoescape %}
						
						{% autoescape off %}
						{% for tb1t in TBody1hT1 %}
						<td>{{tb1t}}</td>
						{% endfor %}
						{% endautoescape %}

						{% autoescape off %}
						{% for tb1 in TBody1h1 %}
						<td>{{tb1}}</td>
						{% endfor %}
						{% endautoescape %}

					</tr>

					<tr>
						{% autoescape off %}
						{% for tb1t in TBody1hT2 %}
						<td>{{tb1t}}</td>
						{% endfor %}
						{% endautoescape %}

						{% autoescape off %}
						{% for tb2 in TBody1h2 %}
						<td>{{tb2}}</td>
						{% endfor %}
						{% endautoescape %}
					</tr>

					<tr>
						{% autoescape off %}
						{% for th2 in THead1h2 %}
						<td rowspan="2">{{th2}}</td>
						{% endfor %}
						{% endautoescape %}

						{% autoescape off %}
						{% for tb1t in TBody1hT1 %}
						<td>{{tb1t}}</td>
						{% endfor %}
						{% endautoescape %}

						{% autoescape off %}
						{% for tb3 in TBody1h3 %}
						<td>{{tb3}}</td>
						{% endfor %}
						{% endautoescape %}
					</tr>

					<tr>
						{% autoescape off %}
						{% for tb1t in TBody1hT2 %}
						<td>{{tb1t}}</td>
						{% endfor %}
						{% endautoescape %}

						{% autoescape off %}
						{% for tb4 in TBody1h4 %}
						<td>{{tb4}}</td>
						{% endfor %}
						{% endautoescape %}
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>컨텐츠</h4>
				<p>
					알 This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>뭐 넣을지</h4>
				<p>
					<span>겠 Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>정합시다</h4>
				<p>
					지효? If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
			</div>
		</div>
		<div id="footnote">
			<div class="clearfix">
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
{% endblock %}